body {
    margin: 0;
    background: #9fa3c1;
    font-family: Inter, sans-serif;
    color: #272A4E;
}

h1 {
    font-family: "Playfair Display", serif;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all .9s cubic-bezier(.19, 1, .22, 1)
}

.revealed {
    opacity: 1;
    transform: translateY(0)
}

.menu {
    background: #333666;
    color: white;
    padding: 15px
}

footer {
    background: #18192F;
    color: white;
    padding: 20px;
    text-align: center;
}